#joinButton{
    position: relative;
    transition: 0.2s;
}

#joinButton:hover {
    box-shadow: 0 0 5px rgba(34, 211, 238, 0.286);
    
    scale: 1.01;
}

#joinButton::after{
    content: '';
    position: absolute;
    top: 40px;
    left: 18px;
    width: 101.91px;
    height: 1px;
    background: linear-gradient(90deg, rgba(34, 211, 238, 0) 0%, rgba(34, 211, 238, 0.9) 50%, rgba(34, 211, 238, 0) 100%);
    mix-blend-mode: normal;
    border-radius: 0px; 
}


